################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ARM
/src/TSDSB/AdapterLib/bin
/src/TSDSB/AdapterLib/obj
/src/TSDSB/BackgroundHost.Headed/ARM
/src/TSDSB/HeadedAdapterApp/bin
/src/TSDSB/HeadedAdapterApp/obj
/src/TSDSB/BridgeRT/ARM
/src/TSDSB/BridgeRT/Debug
/src/TSDSB/HeadedAdapterApp/obj
/src/TSDSB/HeadlessAdapterApp/bin
/src/.vs/TSDSB/v14
/src/TSDSB/AdapterLib/bin
/src/TSDSB/BackgroundHost/ARM
/src/TSDSB/BackgroundHost/Debug
/src/TSDSB/BackgroundHost.Headed/ARM
/src/TSDSB/BackgroundHost.Headed/Debug
/src/TSDSB/BackgroundHost.Headless/ARM
/src/TSDSB/BackgroundHost.Headless/Debug
